mangas/
__pycache__/
japscandownloader.egg-info/
.coverage
coverage.xml
.pytest_cache
test_chapter/*
*.cbz
*.pdf
build/
dist/
*.pyc
test_download/
debug.log
.idea
chromedriver*
*.spec
/venv/
config_*.yml
